<html>
<div id="container">
	
	<head id="header">
		<title>NBA Playoff Bracket</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="/js/angular-route.js"></script>
		<script src="/js/routes.js"></script>
		<script src="/js/product.js"></script>
	</head>

	<body ng-app="NBAPlayoffBracket">
		<div ng-view></div>
	</body>

</div>
</html>